.landing-page {
  /* background: linear-gradient(to bottom right, #f12711, #b91d73); */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page__form {
  background-color: #0e18037b;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  color: #fff;
}

.download {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
.download a {
  font-style: italic;
  color: black;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 2px;
  transition: background-color 0.2s ease;
}
#under {
text-decoration: none;
color: #090a09;
}
.image_container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.image_container img {
  width: 300px;
  height: 100px;
  object-fit: cover;
}
.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input_container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-page__form h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}

.landing-page__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 45%;
}

.landing-page__form-group label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.landing-page__form-group input,
.landing-page__form-group select {
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  background-color: #f4f4f4;
  outline: none;
}

.landing-page__form-group select {
  cursor: pointer;
}

button[type="submit"] {
  background-color: #090a09;
  border: none;
  border-radius: 4px;
  color: rgb(160, 22, 37);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 12px;
  transition: background-color 0.2s ease;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #ffffff;
  border: 1px solid #fff;
}

.landing-page__footer {
  position: absolute;
  right: 20px;
  bottom: 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 24px;
}
